{
  "presets": ["@babel/preset-env","@babel/preset-react"],
  "plugins": [
      // antd 按需加载插件
      ["babel-plugin-import",{
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": "css",
      }],
      [ "@babel/plugin-proposal-decorators", { "legacy" : true }], // 装饰器插件
      [ "@babel/plugin-proposal-class-properties", { "loose": true }], //类的静态属性
      [ "@babel/plugin-syntax-dynamic-import"] // 支持异步按需加载
    ]
}